@import '../../common-utility/commonStyles.scss';

.employee-form-wrapper{
    padding: 24px;
    .add-emp-form{
        .button-with-link{
            text-decoration: inherit;
        }
        .form-control--spacing, .form-button--spacing{
            padding: 10px;
            margin-bottom: 14px;
        }
        @media screen and (min-width: map-get($map: $breakpoints, $key: medium)) {
            .form-control-parent{
                display: flex;
            }
        }
    }
}