@import '../../common-utility/commonStyles.scss';

.add-employee-wrapper{
    .add-emp-form{
        
        .form-control--spacing, .form-button--spacing{
            padding: 10px;
            margin-bottom: 14px;
        }
        @media screen and (min-width: map-get($map: $breakpoints, $key: medium)) {
            .form-control-parent{
                display: flex;
            }
        }
    }
}